**/node_modules/**/*.js
src/thirdparty/**
src/widgets/bootstrap-*.js
src/extensions/**/unittest-files/**/*.js
src/extensions/**/thirdparty/**/*.js
src/extensions/dev/**
src/extensions/disabled/**
src/**/*-min.js
src/**/*.min.js
src/nohost-sw.js

test/perf/*-files/**/*.js
test/spec/*-files/**/*.js
test/spec/*-known-goods/**/*.js
test/spec/FindReplace-test-files-*/**/*.js
test/smokes/**
test/temp/**
test/thirdparty/**
test/**/node_modules/**/*.js


