Thumbs.db

# ignore jenkins build info
/build.prop

# ignore node_modules created by grunt, but not more deeply-nested node_modules
/node_modules
/npm-debug.log

# ignore node_modules inside src
/src/node_modules
/src/JSUtils/node_modules
/src/JSUtils/node/node_modules

# FirstPartry Libs
src/phoenix/virtualfs.js
src/phoenix/virtualfs.js.map

# Thirdparty libs
!/src/thirdparty/licences
/src/thirdparty/jszip.js
/src/thirdparty/underscore-min.js
/src/thirdparty/mime-db.json
/src/thirdparty/floating-ui.core.umd.min.js
/src/thirdparty/floating-ui.dom.umd.min.js
/src/extensions/default/Phoenix-prettier/thirdParty
src/extensions/default/Phoenix-live-preview/thirdparty

# ignore files copied from node_modules to src/thirdparty
# https://github.com/phcode-dev/phoenix/issues/10

# ignore compiled files
/dist
/src/.index.html
/src/styles/brackets.min.css
/src/styles/brackets.min.css.map
/src/assets/default-project/*.zip
/src/assets/sample-projects/*.zip
/src/assets/sample-projects/preview-files-no-edit/*.zip


# ignore everything in the dev extension directory EXCEPT the README
# (so that the directory is non-empty and can be in git)
/src/extensions/dev/*
!/src/extensions/dev/README.*

/src/extensions/disabled

# ignore .disabled file for default extensions
/src/extensions/default/*/.disabled

# generate through grunt
/src/config.json

#OSX .DS_Store files
.DS_Store

# unit test working directory
/test/results
/test/temp
test/test_folders.zip

# Netbeans
/nbproject

# PhpStorm
.idea

# Files that can be automatically downloaded that we don't want to ship with our builds
/src/extensibility/node/node_modules/request/tests/

