<div id="git-push-dialog" class="git modal">
    <div class="modal-header">
        <h1 class="dialog-title">{{Strings.DIALOG_PUSH_TITLE}} &mdash; {{config.remote}}</h1>
    </div>
    <div class="modal-body">

        {{> remotes}}

        <hr>
        <label class="text-bold">
            {{Strings.PUSH_BEHAVIOR}}
        </label>

        <div>
            <label>
                <input type="radio" name="strategy" value="DEFAULT"> {{Strings.PUSH_DEFAULT}}
            </label>
        </div>

        <div>
            <label>
                <input type="radio" name="strategy" value="FORCED"> {{Strings.PUSH_FORCED}}
            </label>
        </div>

        <div>
            <label>
                <input type="radio" name="strategy" value="DELETE_BRANCH"> {{Strings.PUSH_DELETE_BRANCH}}
            </label>
        </div>

        <hr>

        <div class="accordion">
            <!-- Hidden checkbox to toggle the accordion -->
            <input type="checkbox" id="advancedAccordionToggle" class="accordion-toggle" />

            <!-- Accordion Header -->
            <label for="advancedAccordionToggle" class="accordion-header">
                {{Strings.MORE_OPTIONS}}
                <i class="fas fa-chevron-down"></i>
            </label>

            <!-- Accordion Content -->
            <div class="accordion-content">
                <div>
                    <label>
                        <input type="checkbox" name="send_tags" value="true"> {{Strings.PUSH_SEND_TAGS}}
                    </label>
                </div>
                <div>
                    <label>
                        <input type="checkbox" name="push-no-verify" value="true"> {{Strings.SKIP_PRE_PUSH_CHECKS}}
                    </label>
                </div>
                <br>
                <label class="text-bold">
                    {{Strings.CREDENTIALS}}
                </label>
                <div>
                    <label class="text-quiet">
                        {{Strings.SAVE_CREDENTIALS_HELP}}
                    </label>
                </div>

                <div>
                    <label>
                        {{Strings.USERNAME}}:
                    </label>
                    <label>
                        <input type="text" name="username" value="{{config.remoteUsername}}" autocomplete="off" spellcheck="false"/>
                    </label>
                </div>

                <div>
                    <label>
                        {{Strings.PASSWORD}}:
                    </label>
                    <label>
                        <input type="password" name="password" value="{{config.remotePassword}}" autocomplete="off" spellcheck="false"/>
                    </label>
                </div>

                <div>
                    <label>
                        <input type="checkbox" name="saveToUrl" />
                        {{Strings.SAVE_CREDENTIALS_IN_URL}}
                    </label>
                </div>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button class="dialog-button btn" data-button-id="cancel">{{Strings.CANCEL}}</button>
        <button class="dialog-button btn primary" data-button-id="ok">{{Strings.OK}}</button>
    </div>
</div>
