<div id="shortcuts-panel" class="bottom-panel vert-resizable top-resizer">
    <div class="toolbar simple-toolbar-layout">
        <span class="title">{{KEYBOARD_SHORTCUT_PANEL_TITLE}}</span>
        <a href="#" class="close">&times;</a>
        <button class="btn reset-to-default" title="{{KEYBOARD_SHORTCUT_PANEL_RESET_DEFAULT}}">{{{KEYBOARD_SHORTCUT_PANEL_RESET}}}</button>
        <input class="filter" type="search" placeholder="{{{KEYBOARD_SHORTCUT_PANEL_FILTER}}}">
        <span class="presetPickerContainer" title="{{KEYBOARD_SHORTCUT_PRESET_TOOLTIP}}"></span>
    </div>
    <div class="resizable-content"></div>
</div>
