.bookmark-icon {
    width: 0.75em;
    height: 0.75em;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-left: 0.2em;
    margin-top: 0.35em;

    svg {
        width: 100%;
        height: 100%;
        fill: white;
    }
}
