/* Brackets Fonts */

/* Alternative weights */

:root {
    --sansFontFamily: 'SourceSansPro', Helvetica, Arial, "Meiryo UI", "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

/* SourceSansPro Regular */
@font-face {
    font-family: 'SourceSansPro';
    src: url('../styles/fonts/SourceSansPro/SourceSansPro-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

body {
    background: #000A2E;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--sansFontFamily) ;
    font-size: 22px;
}

img {
    vertical-align: middle;
    border-style: none;
}

#starsLeft {
    position: absolute;
    left: 0px;
    top: 5%;
    opacity: 0.7;
    z-index: 2;
}

#starsRight {
    position: absolute;
    z-index: 2;
    right: 0px;
    top: 5%;
    opacity: 0.7;
}

#mainDiv {
    color: #ffffffef;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    z-index: 8;
    align-items: center;
    justify-content: center;
    display: flex!important;
    flex-direction: column!important;
}

#logo {
    height: 35vh;
    vertical-align: middle;
    border-style: none;
    box-sizing: border-box;

}

#MainText {
    color: #ffffffef;
    text-align: center!important;
}

h1 {
    font-size: 2.25rem;
    font-weight: 600;
    line-height: 1.2;
    margin-top: 0;
}

.primary-button {
    padding: 5px 25px 5px 25px;
    background: linear-gradient(90deg, #FAAA47 0%, #FA1801 100%);
    font-family: var(--sansFontFamily) ;
    font-size: 18px;
    font-weight: bold;
    background-size: 200% 200%;
    border-radius: 5px;
    border: none;
    outline: none;
    color: #ffffffef;
    cursor: pointer;
    box-shadow: 0 0 0 #FAAA47;
    transition:2s background-color;
    animation: Animation 2s ease infinite;
}

.primary-button#load-status-display-btn {
    line-height: 3;
    cursor: pointer;
}


@keyframes Animation {
    0%{background-position:0% 0%}
    50%{background-position:100% 0%}
    100%{background-position:0% 0%}
}


.clouds {
    position: absolute;
    bottom: 0;
    width: 101%;
}

#cloudLeftTop {
    position: absolute;
    top: -10%;
    left: -20px;
    z-index: 1;
}

#cloudBottomRight {
    position: absolute;
    bottom: 10%;
    right: -20px;
    z-index: 1;
}

.night {
    position: relative;
    width: 100%;
    height: 100%;
    transform: rotateZ(45deg);
}
