<div id="git-authors-dialog" class="modal">
    <div class="modal-header">
        <h1 class="dialog-title">{{Strings.AUTHORS_OF}} {{file}}</h1>
    </div>
    <div class="modal-body tab-content">
        <table class="table table-condensed">
            <tr>
                <th>
                    {{String.AUTHOR}}
                </th>
                <th>
                </th>
            </tr>
            {{#blameStats}}
            <tr>
                <td>
                    {{authorName}}
                </td>
                <td>
                    {{percentage}}% ({{lines}} {{Strings._LINES}})
                </td>
            </tr>
            {{/blameStats}}
        </table>
    </div>
    <div class="modal-footer">
        <button data-button-id="close" class="dialog-button btn btn-80">{{Strings.BUTTON_CLOSE}}</button>
    </div>
</div>
