<div id="git-commit-dialog" class="modal">
    <div class="modal-header">
        <h1 class="dialog-title">{{Strings.TAG_NAME}}</h1>
    </div>
    <div class="modal-body table-striped tab-content">
        <div class="commit-message-box">
            <input name="commit-message" class="commit-message" type="text" placeholder="{{Strings.TAG_NAME_PLACEHOLDER}}" autocomplete="off"/>
            <textarea name="commit-message" type="text" placeholder="{{Strings.TAG_NAME_PLACEHOLDER}}" autocomplete="off" style="display: none;"></textarea>
        </div>
    </div>
    <div class="modal-footer">
        <button data-button-id="cancel" class="dialog-button btn cancel btn-80" >{{Strings.BUTTON_CANCEL}}</button>
        <button data-button-id="ok"     class="dialog-button btn primary btn-80">{{Strings.BUTTON_OK}}</button>
    </div>
</div>
