<ul id="git-branch-dropdown" class="dropdown-menu" tabindex="-1">
    <li>
        <a class="git-branch-new">
            <span>{{Strings.CREATE_NEW_BRANCH}}</span>
        </a>
    </li>

    {{#branchList.length}}
    <li class="divider"></li>
    {{/branchList.length}}

    {{#branchList}}
    <li>
        <a class="git-branch-link" data-branch="{{name}}">
            {{#canDelete}}
            <span class="trash-icon">&times;</span>
            {{/canDelete}}
            <span class="merge-branch"><i title="{{Strings.MERGE_BRANCH}}" class="octicon octicon-git-merge"></i></span>
            <span class="switch-branch">{{name}}</span>
        </a>
    </li>
    {{/branchList}}
</ul>
