<div class="alanhohn-markdown-bar">
    <div id="markdown-button-bar">
        <button id="markdown-heading1" class="btn no-focus" tabindex="-1" title="{{Strings.HINT_H1}}">{{Strings.BUTTON_H1}}</button>
        <button id="markdown-heading2" class="btn no-focus" tabindex="-1" title="{{Strings.HINT_H2}}">{{Strings.BUTTON_H2}}</button>
        <button id="markdown-heading3" class="btn no-focus" tabindex="-1" title="{{Strings.HINT_H3}}">{{Strings.BUTTON_H3}}</button>
        <button id="markdown-heading4" class="btn no-focus" tabindex="-1" title="{{Strings.HINT_H4}}">{{Strings.BUTTON_H4}}</button>
        <button id="markdown-heading5" class="btn no-focus" tabindex="-1" title="{{Strings.HINT_H5}}">{{Strings.BUTTON_H5}}</button>
        <button id="markdown-heading6" class="btn no-focus" tabindex="-1" title="{{Strings.HINT_H6}}">{{Strings.BUTTON_H6}}</button>
        <div class="spacer"></div>
        <button id="markdown-bold" class="btn no-focus" tabindex="-1" title="{{Strings.HINT_BOLD}}">{{Strings.BUTTON_BOLD}}</button>
        <button id="markdown-italic" class="btn no-focus" tabindex="-1" title="{{Strings.HINT_ITALIC}}">{{Strings.BUTTON_ITALIC}}</button>
        <button id="markdown-strikethrough" class="btn no-focus" tabindex="-1" title="{{Strings.HINT_STRIKE}}">{{Strings.BUTTON_STRIKE}}</button>
        <button id="markdown-code" class="btn no-focus" tabindex="-1" title="{{Strings.HINT_CODE}}">{{Strings.BUTTON_CODE}}</button>
        <div class="spacer"></div>
        <button id="markdown-bullet" class="btn no-focus octicon octicon-list-unordered" tabindex="-1" title="{{Strings.HINT_BULLET}}"></button>
        <button id="markdown-numbered" class="btn no-focus octicon octicon-list-ordered" tabindex="-1" title="{{Strings.HINT_NUMBERED}}"></button>
        <button id="markdown-quote" class="btn no-focus octicon octicon-quote" tabindex="-1" title="{{Strings.HINT_QUOTE}}"></button>
        <button id="markdown-codeblock" class="btn no-focus octicon octicon-code" tabindex="-1" title="{{Strings.HINT_CODEBLOCK}}"></button>
        <div class="spacer"></div>
        <button id="markdown-image" class="btn no-focus octicon octicon-file-media" tabindex="-1" title="{{Strings.HINT_IMAGE}}"></button>
        <button id="markdown-link" class="btn no-focus octicon octicon-link" tabindex="-1" title="{{Strings.HINT_LINK}}"></button>
        <div class="spacer"></div>
        <button id="markdown-paragraph" class="btn no-focus" tabindex="-1" title="{{Strings.HINT_PARAGRAPH}}">&#182;</button>
        <button id="markdown-reflow" class="btn no-focus" tabindex="-1" title="{{Strings.HINT_REFLOW}}">
        &#8617;</button>
    </div>
</div>
