:root {
    --toolbar-height: 30px;
}

.live-preview-browser-btn {
    opacity: 0;
    visibility: hidden;
    transition: opacity 1s, visibility 0s linear 1s; /* Fade-out effect */
}

#live-preview-plugin-toolbar:hover .live-preview-browser-btn {
    opacity: 1;
    visibility: visible;
    transition: unset;
}

#panel-live-preview {
    position: relative;
    width: 100%;
    height: 100%;
}

#panel-live-preview-frame{
    background-color: white;
}

#panel-live-preview-title {
    max-width: 80%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
}

.frame-container {
    display: flex;
    width: 100%;
    height: calc(100% - var(--toolbar-height));
}

.plugin-toolbar {
    height: var(--toolbar-height);
    color: #a0a0a0;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.toolbar-button {
    background-color: transparent;
    width:28px;
    height: 22px;
}

.open-icon {
    background: url("./images/sprites.svg#open-icon") center no-repeat;
}

.pin-icon {
    background: url("./images/sprites.svg#pinned-icon") center no-repeat;
}

.unpin-icon {
    background: url("./images/sprites.svg#unpinned-icon") center no-repeat;
}

.reload-icon {
    background: url("./images/sprites.svg#reload-icon") center no-repeat;
}

.pointer-fill-icon {
    background: url("./images/sprites.svg#pointer-fill-icon") center no-repeat;
}

#live-preview-plugin-toolbar:hover .lp-settings-icon {
    display: flex;
    align-items: center;
    color: #a0a0a0;
    opacity: 1;
    visibility: visible;
    transition: unset;
}

.live-preview-settings input.error, .live-preview-settings input:focus.error{
    border-color: #f74687;
    color: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.06);
}

.lp-settings-icon {
    opacity: 0;
    color: #a0a0a0;
    display: flex;
    align-items: center;
    visibility: hidden;
    transition: opacity 1s, visibility 0s linear 1s; /* Fade-out effect */
}

.pointer-icon {
    background: url("./images/sprites.svg#pointer-icon") center no-repeat;
}
