:root {
    --toolbar-height: 30px;
}

#panel-live-preview {
    position: relative;
    width: 100%;
    height: 100%;
}

#panel-live-preview-frame{
    background-color: white;
}

#panel-live-preview-title {
    max-width: 50%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.frame-container {
    display: flex;
    width: 100%;
    height: calc(100% - var(--toolbar-height));
}

.plugin-toolbar {
    height: var(--toolbar-height);
    color: #a0a0a0;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.toolbar-button {
    background-color: transparent;
    width:28px;
    height: 22px;
}

.open-icon {
    background: url("./images/sprites.svg#open-icon") center no-repeat;
}

.pin-icon {
    background: url("./images/sprites.svg#pinned-icon") center no-repeat;
}

.unpin-icon {
    background: url("./images/sprites.svg#unpinned-icon") center no-repeat;
}

.reload-icon {
    background: url("./images/sprites.svg#reload-icon") center no-repeat;
}

.pointer-fill-icon {
    background: url("./images/sprites.svg#pointer-fill-icon") center no-repeat;
}

.pointer-icon {
    background: url("./images/sprites.svg#pointer-icon") center no-repeat;
}
