:root {
    --toolbar-height: 30px;
}

.live-preview-browser-btn {
    opacity: 0;
    visibility: hidden;
    transition: opacity 1s, visibility 0s linear 1s; /* Fade-out effect */
}

#live-preview-plugin-toolbar:hover .live-preview-browser-btn {
    opacity: 1;
    visibility: visible;
    transition: unset;
}

#panel-live-preview {
    position: relative;
    width: 100%;
    height: 100%;
}

#panel-live-preview-frame{
    background-color: white;
    position: relative;
}

#panel-live-preview-frame[src*="no-preview.html"],
#panel-live-preview-frame[src*="live-preview-error.html"] {
    z-index: 200;
}

#panel-live-preview-title {
    max-width: 80%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
}

.frame-container {
    display: flex;
    width: 100%;
    height: calc(100% - var(--toolbar-height));
}

.plugin-toolbar {
    height: var(--toolbar-height);
    color: #a0a0a0;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.toolbar-button {
    background-color: transparent;
    width:28px;
    height: 22px;
}

.open-icon {
    background: url("./images/sprites.svg#open-icon") no-repeat 72.5%;
    width: 30px;
    margin-left: 4px;
}

.pin-icon {
    background: url("./images/sprites.svg#pinned-icon") no-repeat 72.5%;
    width: 30px;
}

.unpin-icon {
    background: url("./images/sprites.svg#unpinned-icon") no-repeat 72.5%;
    width: 30px;
}

.reload-icon {
    background: url("./images/sprites.svg#reload-icon") center no-repeat;
}

#live-preview-plugin-toolbar:hover .lp-settings-icon {
    display: flex;
    align-items: center;
    color: #a0a0a0;
    opacity: 1;
    visibility: visible;
    transition: unset;
    padding-left: 7.5px;
}

.live-preview-settings input.error, .live-preview-settings input:focus.error{
    border-color: #f74687;
    color: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.06);
}

.lp-settings-icon {
    opacity: 0;
    color: #a0a0a0;
    display: flex;
    align-items: center;
    visibility: hidden;
    transition: opacity 1s, visibility 0s linear 1s; /* Fade-out effect */
    padding-left: 7.5px;
}

#livePreviewModeBtn {
    min-width: fit-content;
    display: flex;
    align-items: center;
    margin: 3px 4px 0 3px;
    max-width: 80%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    background: #3C3F41;
    box-shadow: none;
    border: 1px solid #3C3F41;
    box-sizing: border-box;
    color: #a0a0a0;
    font-size: 14px;
    font-weight: normal;
    padding: 0 0.35em;
}

#livePreviewModeBtn:hover {
    border: 1px solid rgba(0, 0, 0, 0.24) !important;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.12) !important;
}

#livePreviewModeBtn.btn-dropdown::after {
    position: static;
    margin-top: 2px;
    margin-left: 5px;
}

#reloadLivePreviewButton {
    margin-left: 3px;
    margin-top: 3.5px;
    width: 30px;
    height: 22px;
    flex-shrink: 0;
}

#previewModeLivePreviewButton {
    color: #a0a0a0;
    margin-left: 3px;
    margin-top: 3.3px;
    width: 30px;
    height: 22px;
    flex-shrink: 0;
}

#previewModeLivePreviewButton.selected{
    color: #FBB03B;
}

.live-preview-status-overlay {
    width: calc(100% - 3px);
    position: absolute;
    top: 30px;
    left: 3px;
    z-index: 100;
}

.live-preview-status-overlay.full-width {
    width: 100%;
    left: 0;
}

.live-preview-overlay-message {
    color: #ededed;
    background-color: #666;
    padding: 0.35em;
    vertical-align: top;
    text-align: center;
}

.live-preview-overlay-close {
    position: absolute;
    top: 7px;
    right: 12px;
    font-size: 12px;
    cursor: pointer;
    color: #ededed;
}

.live-preview-overlay-close:hover {
    color: #fff;
}
