html {
    height: 100%;
}

body {
    font-family: 'Urbanist', sans-serif;
    overflow: hidden;
    background-color: #fff;
    height: 100%;
}

p {
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.33px;
    text-align: left;
    color: #7d86a0;
    margin-bottom: 0;
}

ul,
li {
    list-style: none;
    padding: 0;
    margin: 0;
}

a,
button,
input {
    text-decoration: none !important;
    outline: none !important;
}

img {
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.side-nav {
    background: #5D5F60;
    height: 100vh;
    position: fixed;
    right: 0;
    width: 40px;
    padding: 20px 5px;
}

.side-menu li a {
    margin-bottom: 10px;
    display: block;
}

.modal-popup {
    display: block;
}

.modal-popup .modal-dialog {
    max-width: 1015px;
    margin: 0;
    margin-left: auto;
    margin-right: 40px;
    height: 100vh;
    transform: translateX(120%) !important;
    transition: all 1s ease-in-out;


}

.modal-popup .modal-content {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    outline: 0;
    height: 100%;
    overflow-y: auto;
    background: #3C3F41;
    box-shadow: -61px 0px 93px 8px rgb(0 0 0 / 51%);
    border-radius: 20px 0px 0px 20px;
    padding: 30px 50px;
    border: none;
}

.modal-popup.show .modal-dialog {
    transform: translateX(0%) !important;
}

.modal-popup .modal-body {
    padding: 0;
}

.modal-nav-tabs {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    margin-bottom: 30px;
}

.modal-nav-tabs li a {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #C8C8C8;
    padding: 15px 40px;
    border: none !important;
    border-bottom: 2px solid transparent !important;
    transition: all .6s ease-in-out;
}

.modal-nav-tabs .nav-link {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

}

.modal-nav-tabs .nav-item.show .nav-link, .modal-nav-tabs .nav-link.active {
    color: #fff;
    background-color: #2E3031;
    border-color: #dee2e6 #dee2e6 #fff;
    border-bottom: 2px solid #016DC4 !important;

}

.ex-input input {
    background: #555555;
    border-radius: 4px;
    height: 46px;
    width: calc(100% - 20px);
    border: none;
    padding: 10px 30px 10px 50px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;

    color: #D0D0D0;
}

.ex-input input::placeholder {
    color: #D0D0D0;
}

.ex-input {
    position: relative;
}

.ex-input .input-addon {
    position: absolute;
    left: 20px;
    top: 15px;
}

.btn-search {
    width: 92px;
    height: 46px;
    background: #016DC4;
    border-radius: 4px;
    border: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #FFFFFF;
    padding: 10px;
    transition: all .6s ease-in-out;
    cursor: pointer;
}

.extension-search {
    margin-bottom: 30px;
}

.tab-title {
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;

    color: #FFFFFF;
    margin-bottom: 20px;
}

.ex-tabs {
    padding-bottom: 30px;
    margin-bottom: 30px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.ex-tabs li a {
    height: 100px;
    width: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

.ex-tabs li a img {
    height: 46px;
    width: 44px;
    transition: all .3s ease-in-out;
    transform: translateY(8px);
}

.ex-tabs li a span {
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;

    color: #FFFFFF;
    margin-top: 10px;
    display: block;
    opacity: 1;
    visibility: visible;
    transform: translateY(5px);
}

.ex-tabs .nav-link:hover span {
    opacity: 1;
    visibility: visible;
}

.ex-tabs .nav-link:hover img {
    transform: translateY(0px);
}

.ex-tabs .nav-link:focus, .ex-tabs .nav-link:hover {
    border-color: transparent;
}

.ex-tabs .nav-item.show .nav-link, .ex-tabs .nav-link.active {
    color: #fff;
    background-color: #2E3031;
    border-color: #016DC4;
}

.card-top-bar {
    margin-bottom: 30px;
}

.view-all, .view-all:hover {
    font-weight: 600;
    font-size: 13px;
    line-height: 19px;
    text-align: right;
    color: #016DC4;
}

.project-card {
    background: #333535;
    border-radius: 5px;
    padding: 20px 15px;
    height: 220px;
    cursor: pointer;
    transition: all .6s ease-in-out;

}

.project-card:hover {
    background: #292b2b;
}

.project-card-active {
    background: #292b2b;
}

.project-list {
    display: flex;
    justify-content: space-between;
}

.project-list li {
    width: calc(25% - 10px);

}

.project-des h5 {
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;

    color: #FFFFFF;
    margin-bottom: 3px;
}

.project-des span {
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;

    color: #E0E0E0;
}

.project-img {
    margin-right: 12px;
    transition: all .2s ease-in-out;
}

.project-card:hover .project-img {
    transform: translateY(-5px);
}

.project-card-top {
    margin-bottom: 20px;
}

.project-para {
    margin-bottom: 15px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.project-para p {
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    color: #D0D0D0;
    height: 66px;


}

.card-rate {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #D0D0D0;
    transition: all .6s ease-in-out;
}

.btn-download {
    width: 62px;
    height: 26px;
    background: #016DC4;
    border-radius: 3px;
    font-weight: 600;
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
}

.btn-remove {
    width: 74px;
    height: 26px;
    background: #3F3F3F;
    border-radius: 3px;
    font-weight: 600;
    font-size: 12px;
    line-height: 14px;
    border: none;
    cursor: pointer;
    color: #D0D0D0;
}

.project-card-main {
    margin-bottom: 50px;
}


/*============ loading placeholder css =============*/
.loading-img {
    width: 40px;
    height: 40px;
    background: rgb(196 196 196 / 10%);
    border-radius: 4px;
    animation: fading 1.5s infinite;
}

.loading-theme-img {

    margin-bottom: 15px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.loading-theme-img span {
    background: rgb(196 196 196 / 10%);
    border-radius: 4px;
    animation: fading 1.5s infinite;
    height: 148px;
    width: 100%;
    display: block;
}

.loading-heading {
    background: rgb(196 196 196 / 10%);
    border-radius: 4px;
    height: 22px;
    width: 130px;
    margin-bottom: 7px !important;
    animation: fading 1.5s infinite;
}

.loading-small-text {
    background: rgb(196 196 196 / 10%);
    border-radius: 4px;
    height: 11px;
    width: 130px;
    display: block;
    animation: fading 1.5s infinite;
}

.loading-para {
    height: 90px;
    margin-bottom: 15px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    animation: fading 1.5s infinite;
}

.loading-para p {
    background: rgb(196 196 196 / 10%);
    border-radius: 4px;
    height: 8px;
    margin-bottom: 12px;


}

.loading-para p:nth-child(1) {
    width: 170px;
    animation: fading 1.5s infinite;
}

.loading-para p:nth-child(2) {
    width: 130px;
    animation: fading 1.5s infinite;
}

.loading-para p:nth-child(3) {
    width: 100px;
    animation: fading 1.5s infinite;
}

.loading-rate {
    background: rgb(196 196 196 / 10%);
    border-radius: 4px;
    height: 17px;
    width: 85px;
    animation: fading 1.5s infinite;
}

.loading-rate-theme {
    background: rgb(196 196 196 / 10%);
    border-radius: 4px;
    height: 17px;

    animation: fading 1.5s infinite;
}

.loading-rate-theme:nth-child(1) {
    width: 127px;
}

.loading-rate-theme:nth-child(2) {
    width: 110px;
}

@keyframes fading {
    0% {
        opacity: 1;
    }

    50% {
        opacity: .6;
    }

    100% {
        opacity: 1;
    }
}

.modal-popup .modal-content::-webkit-scrollbar {
    width: 12px;
    height: 12px;
    background-color: rgba(15, 15, 15, 1);
}

.modal-popup .modal-content::-webkit-scrollbar-thumb {
    box-shadow: 0 0 0 12px rgba(49, 49, 49, 1) inset;
}

.modal-popup .modal-content::-webkit-scrollbar-thumb:hover,
.modal-popup .modal-content::-webkit-scrollbar-thumb:focus {
    box-shadow: 0 0 0 12px rgba(206, 206, 206, 1) inset;
}

.modal-popup .modal-content::-webkit-scrollbar-thumb:active {
    box-shadow: 0 0 0 12px rgba(206, 206, 206, 1) inset;
}

.view-all {
    display: flex;
    align-items: center;
}

.view-all span {
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;

    color: #FFFFFF;
    margin-right: 15px;
    display: block;
}

.view-all select {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    background: transparent;
    border: none;
    color: #D0D0D0;
    cursor: pointer;
    outline: 0;
    background-image: url('../../images/select-arrow.png');
    background-position: right;
    background-repeat: no-repeat;
    -webkit-appearance: none;
    background-position-x: 100%;
    background-position-y: 4px;
    padding-right: 15px;

}

.view-all select option {
    color: #fff;
    font-weight: 500;
    font-size: 16px;
    background: rgba(0, 0, 0, 1);
    padding: 0px 10px;
}

.theme-list li {
    width: calc(33% - 10px);
    margin-bottom: 25px;
}

.theme-list {
    flex-wrap: wrap;
}

.theme-list .project-card {
    height: 300px;
}

.theme-img {
    margin-bottom: 15px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    transition: all .6s ease-in-out;
}

.loading-card-main {
    margin-bottom: 0;
}

.on-hover-text {
    position: absolute;
    opacity: 0;
    transition: all .3s ease-in-out;

}

.on-hover-text h6 {
    font-size: 12px;
    color: #fff;
    margin-bottom: 2px;
}

.review-star .fa {
    color: #fff;
    margin: 0px 1px;
    font-size: 15px;
}

.project-card:hover .on-hover-text {
    opacity: 1;
}

.project-card:hover .card-rate {
    opacity: 0;
}

.project-card:hover .theme-img {
    transform: scale(1.1, 1.05);
}

.code-editor-card {
    background: #3C3F41;
    box-shadow: 0px 0px 93px rgba(0, 0, 0, 0.51);
    padding: 35px 50px;
    height: 100%;
}

.code-editor-main-content {
    height: 100vh;
}

.editor-image {
    margin-right: 30px;
}

.editor-name h4 {
    font-weight: bold;
    font-size: 25px;
    line-height: 25px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 10px;
}

.editor-name span {
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #E0E0E0;
}

.close-btn {
    width: 35px;
    height: 35px;
    background: #3F3F3F;
    border: 1px solid #202020;
    border-radius: 4px;
    padding: 5px;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    cursor: pointer;
    color: #FFFFFF;
    transition: all .2s ease-in-out;
}

.close-btn:hover {
    background: #202020;
}

.editor-card-top {
    padding-bottom: 15px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    margin-bottom: 30px;
}

.project-head {
    margin-bottom: 20px;
}

.project-content-left {
    width: 400px;
    margin-left: 25px;
}

.project-type-list {

    padding-bottom: 30px;
    margin-bottom: 30px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.project-type-list li a {
    height: 100px;
    width: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    border: 1px solid transparent;
}

.project-type-list li {
    margin-right: 10px;
}

.project-type-list li a img {
    height: 46px;
    width: 44px;
    transition: all .3s ease-in-out;
    transform: translateY(8px);
}

.project-type-list li a span {
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
    margin-top: 10px;
    display: block;
    opacity: 1;
    visibility: visible;
    transform: translateY(5px);
}

.project-type-list li a.active {
    color: #fff;
    background-color: #2E3031;
    border-color: #016DC4;
}

.project-type-list li a:hover img {
    transform: translateY(0px);
}

.project-type-list li a:hover span {
    opacity: 1;
    visibility: visible;
}

.recent-project-card {
    background: #2E3031;
    border-radius: 10px;
    max-height: 370px;
    padding: 20px 30px;
}

.recent-project-list {
    overflow-y: auto;
    height: 280px;
}

.code-editor-card::-webkit-scrollbar,.recent-project-list::-webkit-scrollbar {
    width: 12px;
    height: 12px;
    background-color: rgba(15, 15, 15, 1);
}

.code-editor-card::-webkit-scrollbar-thumb, .recent-project-list::-webkit-scrollbar-thumb {
    box-shadow: 0 0 0 12px rgba(49, 49, 49, 1) inset;
    border-radius:100vw;
}

.code-editor-card::-webkit-scrollbar-thumb:hover, .recent-project-list::-webkit-scrollbar-thumb:hover,
.code-editor-cardt::-webkit-scrollbar-thumb:focus, .recent-project-list::-webkit-scrollbar-thumb:focus {
    box-shadow: 0 0 0 12px rgba(206, 206, 206, 1) inset;
}

.code-editor-card::-webkit-scrollbar-thumb:active, .recent-project-list::-webkit-scrollbar-thumb:active {
    box-shadow: 0 0 0 12px rgba(206, 206, 206, 1) inset;
}

.recent-head {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.recent-head h5 {
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    text-align: center;
}

.project-content-right {
    width: 400px;
}

.project-name {
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
}

.recent-project-list li a {
    padding: 6px 10px;
    border-radius: 3px;
    transition: all .3s ease-in-out;
    background: transparent;
}

.recent-project-list li a:hover {
    background: #3F3F3F;
}

.remove-btn {
    background: transparent;
    border: none;
    padding: 0;
    display: flex;
    cursor: pointer;
}

.project-title {
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
}

.back-btn {
    display: flex;
    margin-right: 30px;
}

.project-top {
    border-bottom: 3px solid rgba(255, 255, 255, 0.1);
    padding-bottom: 20px;
    margin-bottom: 30px;
}

.new-project-content {
    overflow-y: auto;
}

.new-project-content::-webkit-scrollbar {
    width: 18px;
    height: 18px;
    background-color: rgba(15, 15, 15, 1);
}

.new-project-content::-webkit-scrollbar-thumb {
    box-shadow: 0 0 0 12px rgba(49, 49, 49, 1) inset;
}

.new-project-content::-webkit-scrollbar-thumb:hover,
.new-project-content::-webkit-scrollbar-thumb:focus {
    box-shadow: 0 0 0 12px rgba(206, 206, 206, 1) inset;
}

.new-project-content::-webkit-scrollbar-thumb:active {
    box-shadow: 0 0 0 12px rgba(206, 206, 206, 1) inset;
}

.website-detail span {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #D0D0D0;
    display: block;
    width: 120px;
    margin-right: 15px;
}

.website-detail input {
    background: #555555;
    border: 1px solid transparent;
    border-radius: 2px;
    height: 48px;
    width: 580px;
    margin-right: 15px;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    color: #D0D0D0;
    padding: 5px 10px;
    transition: all .2s ease-in-out;
}

.website-detail input:focus {
    border: 1px solid #016DC4;
}

.error-border {
    border-color: red !important;
}

.website-detail {
    margin-bottom: 15px;
}

.create-btn {
    width: 132px;
    height: 46px;
    background: #016DC4;
    border-radius: 2px;
    border: none;
    padding: 5px;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;
}

.flex-column-fill{
    display: flex;
    flex-flow: column;
    height: 100%;
}

.flex-0-1-auto {
    flex: 0 1 auto;
}

.flex-1-1-auto {
    flex: 1 1 auto;
}

.preview-box {
    background: #2E3031;
    border-radius: 5px;
    width: 100%;
    height: 95%;
    margin: auto;
    margin-top: 10px;
    padding: 15px;
}

.preview-image {
    width: 100%;
    height: 210px;
}

.preview-box img {
    height: 100%;
    width: 100%;
}

.small-heading {
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}

.full-screen-btn {
    background: transparent;
    border: none;
    cursor: pointer;
}

.preview-box-top {
    margin-bottom: 10px;
}

.lity-image img {
    max-width: 100%;
    display: block;
    line-height: 0;
    border: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.lity-content {
    height: 100%;
}

.lity-container {
    width: 100%;
    height: 100%;
}

.lity-close {
    opacity: 0;
}

.lity-header {
    padding: 10px 15px;
}

.lity-header h5 {
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;

    margin-bottom: 0;
    color: #FFFFFF;
}

.lity-close-big {
    background-color: transparent;
    border: none;
    padding: 0;
}

.big-preview img {
    width: 100%;
    height: 100%;
}

.big-preview {
    height: calc(100% - 50px);
    padding: 0px 15px 15px;
}

.forced-hidden {
    display: none !important;
}

/* notification ui styles */
.notification-ui-arrow {
    position: absolute;
    background: #fd7e14;
    width: 8px;
    height: 8px;
    transform: rotate(45deg);
}
.notification-ui-tooltip {
    position: absolute;
    z-index: 9999;
    top: 0;
    left: 0;
    background: #fd7e14;
    color: white;
    padding: 5px;
    border-radius: 4px;
    opacity: 0;
    font-size: 13px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
}
.notification-ui-hidden {
    opacity: 0;
    transition: opacity 0.5s ease;
    transition-delay:0.2s;
}
.notification-ui-visible {
    opacity: 1;
    transition: opacity 0.5s ease;
    transition-delay:0.2s;
}
