.bd-icon {
    display: inline-block;
    font-size: 14px;
    vertical-align: middle;
    color: white;
    padding-right: 3px;
    opacity: .8;
    width: 17px;
}

.jstree-clicked .bd-icon, .selected .bd-icon {
    color: #8fddff;
    opacity: 1;
}
