name: 'Desktop-Linux prod release full test suite run on pull request'
# we only do this on linux as a sanity. detailed tests will be run on pulls on staging/prod branch
on:
  pull_request:
    branches: [ main ]

concurrency:
  group: pr-desktop-linux-prod-${{ github.event.pull_request.number }}
  cancel-in-progress: true

jobs:
  test-desktop-linux-prod:
    runs-on: ubuntu-latest
    timeout-minutes: 90
    steps:
      - uses: actions/checkout@v3
      - name: setup node
        uses: actions/setup-node@v3
        with:
          node-version: 20
      - name: install Rust stable
        uses: dtolnay/rust-toolchain@stable

      - name: install dependencies (ubuntu only)
        run: |
          sudo apt-get update
          sudo apt-get install -y libgtk-3-dev libwebkit2gtk-4.0-dev libappindicator3-dev librsvg2-dev patchelf
          sudo apt install build-essential curl wget file libssl-dev libayatana-appindicator3-dev
          sudo apt-get install xvfb

      - name: build phoenix dist-test
        run: |
          npm ci
          npm run build
          npm run release:prod

      - name: Download phoenix desktop and build test runner
        run: |
          cd ..
          git clone https://github.com/phcode-dev/phoenix-desktop.git
          cd phoenix-desktop
          npm ci
          npm run releaseDistTestDebug

      - name: Run tauri unit tests
        uses: nick-fields/retry@v2
        with:
          timeout_minutes: 12
          max_attempts: 3
          command: xvfb-run ../phoenix-desktop/src-tauri/target/debug/phoenix-test --run-tests=unit -q

      - name: Run tauri integration tests
        uses: nick-fields/retry@v2
        with:
          timeout_minutes: 12
          max_attempts: 3
          command: xvfb-run ../phoenix-desktop/src-tauri/target/debug/phoenix-test --run-tests=integration -q

      - name: Run tauri mainview tests
        uses: nick-fields/retry@v2
        with:
          timeout_minutes: 12
          max_attempts: 3
          command: xvfb-run ../phoenix-desktop/src-tauri/target/debug/phoenix-test --run-tests=mainview -q

      - name: Run tauri LegacyInteg tests
        uses: nick-fields/retry@v2
        with:
          timeout_minutes: 20
          max_attempts: 3
          command: xvfb-run ../phoenix-desktop/src-tauri/target/debug/phoenix-test --run-tests=LegacyInteg -q
